{% extends "base.html" %} {% block title %}Workouts{% endblock %} {% block
content %}
<body class="workouts">
    <div class="row workouts">
        <div class="col-xl">
            <h1 align="center">Workouts</h1>
            <ul class="list-group list-group-flush" id="workouts">
                {% for workout in user.workouts %}
                <li class="list-group-item">
                    {{ workout.exercise }} : {{ workout.weight }} x {{
                    workout.reps }}
                    <button
                        type="button"
                        class="close"
                        onClick="deleteWorkout({{ workout.id }})"
                    >
                        <span aria-hidden="true">&times;</span>
                    </button>
                </li>
                {% endfor %}
            </ul>
            <br />
            <div id="stylized" class="myform">
                <form id="form" name="form" method="POST">
                    <div class="row">
                        <div class="col-sm" align="center">
                            <input
                                type="text"
                                name="exercise"
                                id="exercise"
                                placeholder="Exercise"
                            />
                        </div>
                        <div class="col-sm" align="center">
                            <input
                                type="text"
                                name="weight"
                                id="weight"
                                placeholder="Weight"
                            />
                        </div>
                        <div class="col-sm" align="center">
                            <input
                                type="text"
                                name="reps"
                                id="reps"
                                placeholder="Reps"
                            />
                        </div>
                    </div>

                    <br />
                    <div align="center">
                        <button type="submit" class="btn btn-primary">
                            Add Exercise
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- column for notes split here -->
        <!-- <div class="col-xl">
        <h1 align="center">Notes</h1>
        <ul class="list-group list-group-flush" id="notes">
            {% for note in user.notes %}
            <li class="list-group-item">
                {{ note.data }}
                <button
                    type="button"
                    class="close"
                    onClick="deleteNote({{ note.id }})"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </li>
            {% endfor %}
        </ul>

        <form method="POST">
            <textarea name="note" id="note" class="form-control"></textarea>

            <br />
            <div align="center">
                <button type="submit" class="btn btn-primary">Add Note</button>
            </div>
        </form>
    </div> -->
    </div>
</body>
{% endblock %}
